{% extends 'layout.html.twig' %}

{% block title %} Error 404 {% endblock %}

{% block content %}

    <div class="addpost">

        {% include 'header.html.twig' %}
        
        <div class="main-error404">
            <div class="error404-text">Error 404 ! Page not found</div>
        </div>
    </div>

{% endblock %}