{% extends 'layout.html.twig' %}

{% block title %} Page of note {% endblock %}

{% block content %}

    <div class="postpage">
        
        {% include 'header.html.twig' %}

        <div class="main-postpage">

            <div class="note-title"> {{note.title}} </div>
            <div class="note-description"> {{note.description}} </div>

        </div>
    </div>

{% endblock %}